:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);

    --dark: rgb(38, 45, 61);
    --dark2: rgb(64, 74, 94);
    --white: rgb(229, 230, 231);
    --white2: rgb(206, 208, 212);

    --red: rgb(183, 4, 69);
    --red2: rgb(239, 17, 75);
    --green: rgb(5, 148, 124);
    --green2: rgb(0, 204, 131);
    --blue: rgb(5, 111, 206);
    --blue2: rgb(37, 169, 239);
}